
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    /* for background color  */
    --secondary-color: orange;
    --bg-blue:rgb(41, 41, 145);
    --bg-white:white;
    --bg-dark-blue:rgb(9, 9, 102);
    --bg-grey:grey;

    /* for text color  */
    --text-black:black;
    --text-blue:rgb(28, 28, 90);
    --text-grey:grey;
    --text-white:white;

    /* fonts  */
    --primary-font:'Open Sans Condensed',sans-serif;
    --secondsry-font:'open sans',sans-serif;
}


body{
    font-family:var(--secondsry-font);
    background-image: url(../images/page-background.jpg);
    background-size: cover;
    background-position: center 0px;
    background-repeat: no-repeat;
    background-attachment:initial;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-grey);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

section {
    padding: 50px 0;
}
.main-btn{
    display: inline-block;
    border-radius: 26px;
    transition: .2s;
    padding: 10px 37px;
    background-color: var(--secondary-color);
    color: var(--text-white);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 17px;
    text-decoration: none;
    box-shadow: 0 0 ipx black;
}
.main-btn:hover{
    background-color: var(--bg-blue);
    color: var((--text-white));
}
h1{
    font-size: 700;
    font-family:var(--primary-font);
    font-weight: 700;
    color:var(--text-blue);
    margin-bottom:16px;
}
h2{
    font-size: 45px;
    line-height: 64px;
    font-family:var(--primary-font);
    font-weight: 700;
    color:var(--text-blue);
    margin-bottom:15px;
    letter-spacing: 0;
}
h3{
    font-size: 30px;
    font-family:var(--primary-font);
    font-weight: 700;
    color:var(--text-blue);
    margin-bottom:15px;
    letter-spacing:0;
}
p{
    color: var(--text-grey);
    font-size: 15px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
}
input:hover,
input:focus,
textarea:focus,
textarea:hover,
button{
    border-color: var(--secondary-color)!important;
    outline:none ! important;
    box-shadow:none ! important;


}

.header-wrapper .navbar{
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear;

}
.header-wrapper .navbar-brand img {
    max-width: 200px;
    height: 30px;
    padding-top: 0;
    margin-top: 0;
}
.header-wrapper .navbar-toggler{
    border: 0;
}
.header-wrapper .navbar-toggler:focus{
    box-shadow:none;
}
.header-wrapper .nav-item{
    margin:0 10px;
}

.header-wrapper .nav-item .nav-link {
    font-size: 17px;
    font-weight: 700;
    color: var(--text-blue);
    font-family: var(--primary-font);
    text-transform: uppercase;
}

.header-wrapper .nav-item .nav-link.active {
    color: var(--secondary-color);
}
.header-scrolled{
    position: fixed;
    margin-top: 0; 
    top: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background-color: var(--bg-white);
    -webkit-box-shadow: 0 4px 6px 0 var(--text-black);
    box-shadow: 0 4px 6px 0 black;
}

.banner-wrapper{
    margin-top: 100px;
}
.about-wrapper{
    padding-top: 100px;
}

.card {
    border: none;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    text-align: center; /* Center text inside the card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.services-wrapper h3 span{
    color: var(--secondary-color);
}
.services-wrapper .service-phone{
    max-width:60% ;
}
.women-wrapper {
    padding-top: 150px;
}
.women-wrapper h3 span{
    color: var(--secondary-color);
}




.blog-wrapper .newsletter-wrapper{
    background-color: var(--bg-blue);
}
.blog-wrapper .newsletter{
    width:60%;
    margin:auto;
}
.blog-wrapper .form-control{
    background-color: var(--bg-dark-blue);
    border-color: var(--bg-dark-blue);
    border-style: solid;
    border-radius: 26px;
    color: var(--text-white);
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
    padding: 10px 32px;

}
.blog-wrapper input::placeholder{
    color: vat
    var(--text-white);
}

.blog-wrapper a{
    color: var(--text-blue);
    text-decoration: none;
}
.blog-wrapper .date,
.blog-wrapper .card a:hover{
    color: var(--secondary-color);
}
.contact-wrapper {
    padding-top: 90px;
}

.contact-wrapper input,
.contact-wraper textarea{
    background-color: var(--bg-white);
    border-color: var(--bg-grey);
    border-radius: 15px;
    color: var(--text-grey);
    font-size: 15px;
    font-weight: 400;
    padding: 15px 32px 15px 21px;
}
.footer-wrapper{
    padding-top: 0;
}
.footer-wrapper a{
    color: var(--text-grey);
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;

}
.footer-wrapper a:hover{
    color: var(--secondary-color);
}